@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Saira+Stencil+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Allerta Stencil', sans-serif;
}

body {
    background-color: #f7f7f7;
}

.btn, .btn-large, .btn-small {
    background-color: #b6e0ea !important;
    color: #000;
}

.is-center {
    display: flex;
    justify-content:center;
}

input, .btn {
    border-radius: 15px;
}


.logo {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

nav .brand-logo {
    font-family: Stencil;
    font-weight: bold;
    color: #000 !important;
}

.login {
    width: 460px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
    .login {
        width: 90%;
        padding: 17px;
    }
}

.login .group {
    display: flex;
    flex-direction: column;
}

    .login .group label {
        font-size: 1.2rem;
        color: #222;
        font-weight: 600;
        padding: 6px 8px;
        margin-top: 5px;
    }

    .login .group input {
        padding: 6px 10px;
        font-size: 1rem;
        border: 1px solid #c8c8c8;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        margin-top: 5px;
    }

        .login .group input:focus {
            outline: none;
        }

.button {
    margin-top: 17px;
    padding: 8px 14px;
    background-color: #1A1A1A;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 1.01em;
}

    .button:hover {
        background-color: #23B659;
        transition: all 0.5s ease-in;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar {
    background-color: lightblue !important;
}